::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3 white;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: slategrey
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray;
}
